
.DS_Store
.vs/ATankGame/xs/project-cache/GameClient-Debug.json
.vs/ATankGame/xs/project-cache/GameServer-Debug.json
GameClient/obj/*
GameClient/bin/*
GameServer/bin/*
GameServer/obj/*
UnityClient/Library/*
Common/bin/Debug/netstandard2.1/Common.pdb
Common/bin/Debug/netstandard2.1/Common.dll
Common/bin/Debug/netstandard2.1/Common.deps.json
Common/bin/Debug/netstandard2.0/Common.pdb
Common/bin/Debug/netstandard2.0/Common.dll
Common/bin/Debug/netstandard2.0/Common.deps.json
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.targets
Common/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Common/obj/Debug/netstandard2.0/Common.AssemblyInfo.cs
Common/obj/Debug/netstandard2.0/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netstandard2.0/Common.assets.cache
Common/obj/Debug/netstandard2.0/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/netstandard2.0/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/netstandard2.0/Common.csprojAssemblyReference.cache
Common/obj/Debug/netstandard2.0/Common.dll
Common/obj/Debug/netstandard2.0/Common.pdb
Common/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Common/obj/Debug/netstandard2.1/Common.AssemblyInfo.cs
Common/obj/Debug/netstandard2.1/Common.AssemblyInfoInputs.cache
Common/obj/Debug/netstandard2.1/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/netstandard2.1/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/netstandard2.1/Common.csprojAssemblyReference.cache
Common/obj/Debug/netstandard2.1/Common.dll
Common/obj/Debug/netstandard2.1/Common.pdb
Common/obj/project.assets.json
Common/obj/project.nuget.cache
UnityClient/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
UnityClient/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
UnityClient/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
UnityClient/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
UnityClient/Logs/Packages-Update.log
