
.DS_Store
.vs/ATankGame/xs/project-cache/GameClient-Debug.json
.vs/ATankGame/xs/project-cache/GameServer-Debug.json
GameClient/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GameClient/obj/Debug/netcoreapp3.1/GameClient.AssemblyInfo.cs
GameClient/obj/Debug/netcoreapp3.1/GameClient.AssemblyInfoInputs.cache
GameClient/obj/Debug/netcoreapp3.1/GameClient.assets.cache
GameClient/obj/Debug/netcoreapp3.1/GameClient.csproj.CoreCompileInputs.cache
GameClient/obj/Debug/netcoreapp3.1/GameClient.csproj.FileListAbsolute.txt
GameClient/obj/Debug/netcoreapp3.1/GameClient.csprojAssemblyReference.cache
GameClient/bin/Release/netcoreapp3.1/publish/GameClient.runtimeconfig.json
GameClient/bin/Release/netcoreapp3.1/publish/GameClient.pdb
GameClient/bin/Release/netcoreapp3.1/publish/GameClient.dll
GameClient/bin/Release/netcoreapp3.1/publish/GameClient.deps.json
GameClient/bin/Release/netcoreapp3.1/GameClient.runtimeconfig.json
GameClient/bin/Release/netcoreapp3.1/GameClient.runtimeconfig.dev.json
GameClient/bin/Release/netcoreapp3.1/GameClient.pdb
GameClient/bin/Release/netcoreapp3.1/GameClient.dll
GameClient/bin/Release/netcoreapp3.1/GameClient.deps.json
GameClient/bin/Debug/netcoreapp3.1/GameClient.runtimeconfig.json
GameClient/bin/Debug/netcoreapp3.1/GameClient.runtimeconfig.dev.json
GameClient/bin/Debug/netcoreapp3.1/GameClient.pdb
GameClient/bin/Debug/netcoreapp3.1/GameClient.dll
GameClient/bin/Debug/netcoreapp3.1/GameClient.deps.json
GameClient/obj/Debug/netcoreapp3.1/GameClient.dll
GameClient/obj/Debug/netcoreapp3.1/GameClient.genruntimeconfig.cache
GameClient/obj/Debug/netcoreapp3.1/GameClient.pdb
GameClient/obj/Release/netcoreapp3.1/GameClient.AssemblyInfo.cs
GameClient/obj/Release/netcoreapp3.1/GameClient.AssemblyInfoInputs.cache
GameClient/obj/Release/netcoreapp3.1/GameClient.assets.cache
GameClient/obj/Release/netcoreapp3.1/GameClient.csproj.CoreCompileInputs.cache
GameClient/obj/Release/netcoreapp3.1/GameClient.csproj.FileListAbsolute.txt
GameClient/obj/Release/netcoreapp3.1/GameClient.csprojAssemblyReference.cache
GameClient/obj/Release/netcoreapp3.1/GameClient.dll
GameClient/obj/Release/netcoreapp3.1/GameClient.genruntimeconfig.cache
GameClient/obj/Release/netcoreapp3.1/GameClient.pdb
GameServer/bin/Debug/netcoreapp3.1/GameServer.deps.json
GameServer/bin/Debug/netcoreapp3.1/GameServer.dll
GameServer/bin/Debug/netcoreapp3.1/GameServer.pdb
GameServer/bin/Debug/netcoreapp3.1/GameServer.runtimeconfig.dev.json
GameServer/bin/Debug/netcoreapp3.1/GameServer.runtimeconfig.json
GameServer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GameServer/obj/Debug/netcoreapp3.1/GameServer.AssemblyInfo.cs
GameServer/obj/Debug/netcoreapp3.1/GameServer.AssemblyInfoInputs.cache
GameServer/obj/Debug/netcoreapp3.1/GameServer.assets.cache
GameServer/obj/Debug/netcoreapp3.1/GameServer.csproj.CoreCompileInputs.cache
GameServer/obj/Debug/netcoreapp3.1/GameServer.csproj.FileListAbsolute.txt
GameServer/obj/Debug/netcoreapp3.1/GameServer.csprojAssemblyReference.cache
GameServer/obj/Debug/netcoreapp3.1/GameServer.dll
GameServer/obj/Debug/netcoreapp3.1/GameServer.genruntimeconfig.cache
GameServer/obj/Debug/netcoreapp3.1/GameServer.pdb
GameServer/obj/GameServer.csproj.nuget.cache
GameServer/obj/GameServer.csproj.nuget.dgspec.json
GameServer/obj/GameServer.csproj.nuget.g.props
GameServer/obj/GameServer.csproj.nuget.g.targets
GameServer/obj/project.assets.json
GameServer/obj/project.nuget.cache
GameClient/obj/project.nuget.cache
GameClient/obj/project.assets.json
GameClient/obj/GameClient.csproj.nuget.g.targets
GameClient/obj/GameClient.csproj.nuget.g.props
GameClient/obj/GameClient.csproj.nuget.dgspec.json
GameClient/obj/GameClient.csproj.nuget.cache
GameServer/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
GameServer/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
GameServer/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.dll
GameServer/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.Streams.dll
GameServer/bin/Debug/netcoreapp3.1/K4os.Hash.xxHash.dll
GameServer/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
GameServer/bin/Debug/netcoreapp3.1/MySql.Data.dll
GameServer/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
GameServer/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
GameServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
GameServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
GameServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
GameServer/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
GameServer/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
GameServer/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
GameServer/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
GameServer/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
GameServer/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
GameServer/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
GameServer/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
GameServer/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
GameServer/bin/Debug/netcoreapp3.1/Zstandard.Net.dll
GameServer/obj/Debug/netcoreapp3.1/GameServer.csproj.CopyComplete
