
.DS_Store
.vs/ATankGame/xs/project-cache/GameClient-Debug.json
.vs/ATankGame/xs/project-cache/GameServer-Debug.json
GameClient/obj/*
GameClient/bin/*
GameServer/bin/*
GameServer/obj/*
UnityClient/Library/*